@import "colors";

.contact {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg-all.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  > form {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;

    > h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: "Roboto";
      margin: 2rem 0;
    }

    > input,
    textarea,
    button {
      padding: 1rem;
      outline: none;
      border: 1px solid rgb(202, 202, 202);
      margin: 0.5rem;
      width: 60%;
      border-radius: 4px;
    }

    > button {
      background-color: $red;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 1rem;

      &:hover {
        background-color: $reddark;
      }
    }
  }

  .formBorder {
    width: 200px;
    height: 80%;
    background-color: white;
    border-radius: 0 200px 200px 0;
    position: relative;

    > div {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 50%;
      transform: translate(50%, -50%);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.566));

      > img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact {
    height: 70vh;
    > form {
      width: 100%;
      height: 100%;
    }
    .formBorder {
      display: none;
    }
  }
}
